<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--SQLServer Instansce-->
    <add key="SQL_Server_Name" value="192.168.35.21" />
    <add key="SQL_DBName" value="DEV_FPM" />
    <add key="SQL_User" value="sa" />
    <add key="SQL_Pass" value="123456a@" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="MapreduceDemoEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MapreduceDemo;persist security info=True;user id=sa;password=123456a@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>